.left-banner{
  display:inline-block;
  float:left;
  margin-left:8vw;
  margin-top: 12vh;
  width: 40%;
}

.right-banner{
  display:inline-block;
  text-align:right;
  float:right;
  margin-right: 5vh;
}

.banner-wrapper{
  display:inline-block;
  border: 1px;
  margin:auto;
  width: 95vw;
  padding-bottom: 2vh;
}

.banner-title{
  margin-bottom: 9vh;
  font-size: 60px;
  width: 100px;
}

.button-title{
  margin-top:2vh;
}

.banner-subTitle{
  font-size: 25px;
  margin-bottom: 5vh;
}
