.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.togglePauseBtn{
  text-align: center;
  display: inline-block;
  margin: 5vw;
  width: 15vw;
  font-size: 1.0vw;
}

.togglePauseBtn:hover{
  font-size: 1.1vw;
}

.togglePauseBtn:focus{
  border: none;
  outline: none;
}

.centerLoading{
  text-align:center;
  margin: 5vw;
}

.OwnerBtn{
  text-align:center;
}
